@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

html[data-theme="light"] {
  --bg: #fff;
  --fg: #181819;
}

html[data-theme="dark"] {
  --bg: #181819;
  --fg: #fff;
}

body {
  background: var(--bg);
  color: var(--fg);
  padding: 1em;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
}

a {
  color: var(--fg);
}

/* Header */
header a {
  text-decoration: none;
  font-size: 1.125em;
}

header a:hover {
  text-decoration: underline;
}

header .overlay,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

header {
  background: var(--bg);
  height: 52px;
}

.home {
  color: var(--fg);
  font-weight: bold;
  margin-right: 3ch;
}

nav {
  gap: 1.5ch;
}

nav a {
  font-weight: normal;
  white-space: nowrap;
}

/* Install code block */
.code-block {
  white-space: pre-wrap;
  background: hsl(from var(--bg) h s calc(l - 10));
  padding: 1em;
  border-radius: 4px;
}

#arrow {
  height: 0px;
  opacity: 0;
  transition: 250ms ease-in-out all;
}

#arrow[data-popper-arrow-visible] {
  height: auto;
  opacity: 1;
}

/* custom elements */
.btn {
  padding: 4px 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: hsl(from var(--fg) h s calc(l - 10));
  background-color: hsl(from var(--bg) h s calc(l - 5));
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: hsl(from var(--bg) h s l);
  box-shadow: unset;
  cursor: pointer;
}
